.input {
    margin-bottom: 32px;
    width: 100%;
    display: flex;
    position: relative;

    &--error {
        position: relative;
        // border: 1px solid $pink-2;
        border-radius: $border-radius-1;
        box-shadow: 0 0 0 1px $pink-2; /* All the borders by using the spread properties */

        &::after {
            content: 'Enter a name';
            position: absolute;
            font-size: 12px;
            top: 42px;
            left: 2px;
            color: $error-1;
        }
    }

    & input {
        font-size: 14px;
        color: $light-grey-1;
        padding: 0 64px 0 16px;
        width: 100%;
        border-radius: $border-radius-1;
        height: 40px;
        background: $dark-grey-1;
        border: 1px solid $dark-grey-2;

        &:focus {
            border: 1px solid $light-grey-2;
            outline: none;
        }

        &.disabled {
            cursor: not-allowed;
            opacity: 50%;
        }
    }

    &__button {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
    }
}