.timer {

    border-radius: $border-radius-1 * 2;
    border: 1px solid $dark-grey-2;
    padding: 24px;
    margin-bottom: 16px;

    & h2 {
        font-size: 16px;
        margin-bottom: 4px;
        font-weight: 400;
        overflow-wrap: break-word;
    }

    &__date {
        font-family: $monospace-font-1;
        color: $monospace-colour-1;
        font-size: 12px;
        margin-bottom: 8px;
    }

    &__time {
        font-family: $monospace-font-1;
        font-size: 64px;
        margin-bottom: 8px;
        & span {
            font-size: 32px;
        }
    }

    &__controls {
        display: inline-block;
        height: 40px;
        position: relative;
        z-index: 10;
    }

    &__control-time {
        height: 40px;
        padding: 0 16px;
        background: $dark-grey-4;
        border-radius: $border-radius-1;
        border: 1px solid #45484D;
        display: flex;
        align-items: center;
        & button:not(:last-child) {
            margin-right: 16px;
        }
    }

    &__control-timer {
        position: absolute;
        height: 40px;
        top: 0;
        right: 0;
        padding: 0 16px 0 16px;
        display: flex;
        align-items: center;
        border: 1px solid $dark-grey-2;
        z-index: -1;
        border-radius: $border-radius-1;
        transition: $transition-1;
        & button:not(:last-child) {
            margin-right: 16px;
        }
        &.show {
            right: -96px;
            padding-left: 32px;
        }
    }

    &.active {
        border: 1px solid $pink-1;
        box-shadow: 0px 10px 40px -6px rgba(0, 0, 0, 0.5);
    }
}