body {
    padding: 16px;
}

.empty-text {
    color: $light-grey-2;
    font-size: 14px;
}

.timer-container {
    margin-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    @media only screen and (max-width: 600px) { 
        display: block;
    };
}