//////////////
//Variables
//////////////

//Colours
$dark-grey-1: #26282B;
$dark-grey-2: #3A3D43;
$dark-grey-3: #313234;
$dark-grey-4: #3B3C3E;

$light-grey-1: #D0D0D0;
$light-grey-2: #B4B4B4;

$button-grey-1: #E5E5E5;

$pink-1: #FE80A2;
$pink-2: #FF7D9C;
$error-1: #F23462;

$monospace-colour-1: #6D6D6D;

//Properties
$border-radius-1: 6px;
$monospace-font-1: 'SF Mono', SFMono-Regular, ui-monospace, 'DejaVu Sans Mono', Menlo, Consolas, monospace;
$transition-1: all .2s ease-in;